        <div class="tab specialeffects item-details" data-tab="specialeffects" style="overflow:scroll">
            
                <div class="form-group">
                    <label style="max-width: none;">
                        Special Effects for this consumeable are managed by the originating item.				
                    </label>
                </div>
            
        </div>
