        <style >
            .tidy5eDark div.tidy5e h3.siftoolkit {
                color: var(--primary-font);
                border-top: 1px solid var(--header-border);
                border-bottom: 1px solid var(--header-border);
                background-color: var(--header-background);
            }
            
            .tidy5e div.tidy5e h3.siftoolkit {
                color: var(--primary-font);
                border-top: 1px solid var(--header-border);
                border-bottom: 1px solid var(--header-border);
                background-color: var(--header-background);
            }

            h3.siftoolkit {
                color: var(--primary-font);
                border-top: 1px solid var(--header-border);
                border-bottom: 1px solid var(--header-border);
                background-color: var(--header-background);
            }            

            .tidy5eDark.sheet.item button.siftoolkit {
                border: 1px solid;
                float: right;
                width: 5ch;
                max-width: 5ch;
            }

            .tidy5e.sheet.item button.siftoolkit {
                border: 1px solid #7a7971;
                float: right;
                width: 5ch;
                max-width: 5ch;
            }

            button.siftoolkit{
                border: 1px solid #7a7971;
                width: 5ch;
                max-width: 5ch;
            }
            
            .tidy5eDark.sheet.item input[type="text"].siftoolkit {
                border: 1px solid;
                float: right;
            }

            .tidy5e.sheet.item input[type="text"].siftoolkit {
                border: 1px solid #7a7971;
                float: right;
            }

            .dnd5e.sheet input[type="text"].siftoolkit{
                border: 1px solid #7a7971;
            }            
        </style>
        <div class="tab specialeffects" data-tab="specialeffects" style="overflow:scroll">

            {{#if isArea}}
            <h3 class="form-header siftoolkit">Template Removal</h3>

                    <div class="form-group">
                        <label>
                            Ignore Spell Duration (Remove Immediately)				
                        </label>
                        <div class="form-fields">
                        <input type="checkbox" style="float:right;" name="siftoolkit.template.removal" {{#if ignoreDuration}}checked{{/if}} {{#unless isEditable}}disabled{{/unless}}>
                    </div>
                    </div>
                    <h3 class="form-header siftoolkit">Animations</h3>

                    <div class="form-group">
                        <label>
                        Use Texture				
                        </label>
                        <input class="siftoolkit" type="checkbox" style="float:right;" name="siftoolkit.template.useTexture" {{#if useTexture}}checked{{/if}} {{#unless isEditable}}disabled{{/unless}}>
                    </div>
                    <div class="form-group">
                        <label class="textureSelect" style="float:right;max-width:none;">Texture</label>
                        <div class="form-fields">
                            <input type="text" class="siftoolkit" name="siftoolkit.template.texture.text" placeholder="File Path" {{#unless isEditable}}disabled="disabled"{{/unless}} value={{texture}}>
                            <button type="button" class="siftoolkit" data-type="imagevideo" title="Browse Files" tabindex="-1" name="siftoolkit.template.texture.bttn" {{#unless isEditable}}disabled="disabled"{{/unless}}>
                                <i class="fas fa-file-import fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                        Alpha (Opacity)%				
                        </label>
                        <input type="number" style="float:right;" name="siftoolkit.template.alpha" min="10" max="100" value="{{alpha}}" {{#unless isEditable}}disabled="disabled"{{/unless}} >
                    </div>
                    <div class="form-group">
                        <label>
                        Loop animations				
                        </label>
                        <input type="checkbox" style="float:right;" name="siftoolkit.template.loop.animations" {{#if loopAnimations}}checked{{/if}} {{#unless isEditable}}disabled="disabled"{{/unless}}>
                    </div>
                    {{#if isCone}}
                    <div class="form-group">
                        <label>
                        Cone texture Origin				
                        </label><select name="siftoolkit.template.cone.origin" style="font-size: 12px;height: 24px;" {{#unless isEditable}}disabled="disabled"{{/unless}}>
                            <option value="Center" {{#if (eq coneOrigin 0)}}selected{{/if}}>Center</option>
                            <option value="Left" {{#if (eq coneOrigin 1)}}selected{{/if}}>Left</option>
                            <option value="Right" {{#if (eq coneOrigin 2)}}selected{{/if}}>Right</option>
                            <option value="Top" {{#if (eq coneOrigin 3)}}selected{{/if}}>Top</option>
                            <option value="Bottom" {{#if (eq coneOrigin 4)}}selected{{/if}}>Bottom</option>
                        </select>
                    </div>
                    {{/if}}
                {{/if}}
                <h3 class="form-header siftoolkit">Audio</h3>
                    
                    <div class="form-group">
                        <label>
                        Play audio on damage rolls				
                        </label>
                        <input type="checkbox" style="float:right;" name="siftoolkit.audio.playDamageAudio" {{#if playDamageAudio}}checked{{/if}} {{#unless isEditable}}disabled="disabled"{{/unless}}>
                    </div>
                    {{#if isArea}}
                    <div class="form-group">
                        <label>
                        Play audio on template set				
                        </label>
                        <input type="checkbox" style="float:right;" name="siftoolkit.audio.playTemplateAudio" {{#if playTemplateAudio}}checked{{/if}} {{#unless isEditable}}disabled="disabled"{{/unless}}>
                    </div>
                    {{/if}}
                    <div class="form-group">
                        <label>
                        Play audio on saving throws				
                        </label>
                        <input type="checkbox" style="float:right;" name="siftoolkit.audio.playSaveAudio" {{#if playSaveAudio}}checked{{/if}} {{#unless isEditable}}disabled="disabled"{{/unless}}>
                    </div>

                    <div class="form-group">
                        <label class="audioSelect" style="float:right;max-width:none;">Clip</label>
                        <div class="form-fields">
                            <input class="siftoolkit" type="text" name="siftoolkit.audio.clip.text" placeholder="File Path" {{#unless isEditable}}disabled="disabled"{{/unless}} value={{clip}}>
                            <button type="button" class="siftoolkit" data-type="audio" title="Browse Files" tabindex="-1" name="siftoolkit.audio.clip.bttn" {{#unless isEditable}}disabled="disabled"{{/unless}}>
                                <i class="fas fa-file-import fa-fw"></i>
                            </button>
                        </div>
                    </div>



                    <div class="form-group">
                        <label>
                        Volume%				
                        </label>
                        <input type="number" style="float:right;" name="siftoolkit.audio.volume" min="10" max="200" value="{{volume}}" {{#unless isEditable}}disabled="disabled"{{/unless}} >
                    </div>
                </div>
